$right-sidebar-width-narrow: 0;
$right-sidebar-width: 0;
$right-sidebar-width-wide: 0;

@charset "utf-8";

@font-face{
  font-family: "zero hour";
  src: url('../fonts/zero hour.otf') format('truetype');
}

#ml_txt{
  font-family: "zero hour";
  color: white;
  font-size: medium;
}