---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

$right-sidebar-width-narrow: 0;
$right-sidebar-width: 0;
$right-sidebar-width-wide: 0;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import 'minimal-mistakes'; // main partials


@font-face{
  font-family: "Zero Hour";
  src: url('../fonts/zero-hour.otf') format('truetype');
}

#page-title {
  font-family: "Zero Hour";
  color: white;
  font-size: medium;
}

.page {
  float: revert !important;
}
