@font-face {
  font-family: "Zero Hour";
  src: url('../fonts/zero-hour.otf') format('truetype');
}

#page-title {
  font-family: "Zero Hour";
  color: white;
  font-size: medium;
}

.page {
  float: revert !important;
}
